body {
  background-image: 'images/water.jpg' 50% 350px no-repeat #e8ecf0;
  background-position: fixed;
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  colour: blue; 
}

h2 {
  colour: #AOAOAO;
}

a {
  colour:blue;
}

p {
  colour: #888;
  padding: 20px;
}

ul {
  text-align: center;
}