h1 {
  colour: #787878;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  colour: #AOAOAO;
  font-family: arial;
}

a {
  colour:blue;
}

p {
  colour: #888;
  padding: 20px;
}

body {
  background-image: 'images/ocean.jpg';
}
