body {
  background-image: '/images/water.jpg'
  background-position: fixed;
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  colour: blue; 
}

h2 {
  colour: #AOAOAO;
}

a {
  colour:blue;
}

p {
  colour: #888;
  padding: 20px;
}

ul {
  display: inline-block;
  text-align: center;
  list-style-type: none;
}

li {
  text-align: center;
}