

body {
  background-image: url("../images/blurry.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-decoration: none;
}

body {
  font-family: 'Armata', sans-serif;
  margin: auto;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 100px;
  padding: 20px;
  border: black solid 4px;
}

a {
  text-decoration: none;
}

p {
  padding top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: #333;
}

li {
  display: inline-flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

