body {
  background-image: url('./images/water.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-decoration: none;
}

body {
  font-family: 'Armata';
  margin: auto;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    width:10%;
}

a {
  text-decoration: none;
}

p {
  color: #888;
  padding: 20px;
}

ul {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

li {
  text-align: center;
}

div {
  opacity: 0.5;
}

#rectangle {
   width: 440px; 
   height: 5px;
   background: blue;
   top:50%;
   left:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
}

#circle { 
   width: 140px;
   height: 140px;
   background: green;
   background-position: relative;
   background-position: absolute;
   top: 50%;
   left: 50%;
   margin-top: 80px;
   margin-left: 100px;
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}