body {
  background-image: url("../images/blurry.jpg");
  background-size: cover;
}

body {
  font-family: 'Armata', sans-serif;
}

nav{
  height: 100px;
}


h1 {
  margin: 100px;
  justify-content: center;
  padding: 20px;
  color: white;
  border: white solid 2px;
  border-width: 50%
}

ul {
  justify-content: center;
}

li {
  display: inline-block;
  justify-content: center;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: white;
  text-decoration: none;
}